table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  background-color: #e0f0ff; 
}

td.especial-b3 {
  background-color: #808080;
}

.fila2 td {
  background-color: #f5e0ff;
}

.columna3 {
  background-color: #c0e0c0;
}

.primera-ultima {
  background-color: orange;
}

.especial-c2 {
  background-color: #f0d0d0;
}

td.especial-b3 {
  background-color: #808080;
}