body {
  font-family: 'Georgia', serif;
  margin: 40px;
  background-color: #fffaf0;
}

h1, h2 {
  color: #8b0000;
}

p {
  line-height: 1.6;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #006400;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
  color: lightblue;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 8px;
}